.page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    position: fixed;
    width: 241px;
    background-color: #2E2E2E;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    position: relative;
    margin-left: 241px;
}

article {
    margin: 25px;
}