@inherits LayoutComponentBase

<PageTitle>Icarus</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>