.nav-menu {
    display: flex;
    flex-direction: column;
}

.logo-parent {
    text-align: center;
    padding: 20px;
}

.logo {
    margin: auto;
}

.nav-link-row {
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
}

.nav-link-text, .nav-link-icon {
    color: #9F9F9F;
    vertical-align: middle;
}

.nav-link-text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.active > .nav-link-row > .nav-link-icon {
    color: #F89A22;
}

.active > .nav-link-row > .nav-link-text {
    color: white;
}

.nav-link:hover > .nav-link-row > .nav-link-text {
    color: white;
}

hr {
    margin: 12px 20px 12px 20px;
    border-color: #9F9F9F;
}

.nav-link-row-bottom {
    margin: auto;
    margin-bottom: 25px;
    margin-left: 20px;
}

.nav-link:hover > .nav-link-row-bottom > .nav-link-text {
    color: white;
}

.user-avatar {
    vertical-align: middle;
    border-radius: 50%;
}

.username {
    vertical-align: middle;
    margin-left: 10px;
    color: #9F9F9F;
}