@using Icarus.Discord;

@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid brand-container">
        <a class="navbar-brand" href="">Icarus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 grouping">
            <span class="grouping-inner">Welcome</span>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sponsorship" Match="NavLinkMatch.All">
                <span class="oi oi-star" aria-hidden="true"></span> Sponsorship Perks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="igns" Match="NavLinkMatch.All">
                <span class="oi oi-layers" aria-hidden="true"></span> IGNs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roles" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Roles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="redeem" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Redemption
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Chat Leaderboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="infractions" Match="NavLinkMatch.All">
                <span class="oi oi-shield" aria-hidden="true"></span> Infractions
            </NavLink>
        </div>
        <AuthorizeView Roles="Manager">

            <div class="nav-item px-3 grouping">
                <span class="grouping-inner">Manager Access</span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="guildsettings">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Guild Settings
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="characters">
                    <span class="oi oi-terminal" aria-hidden="true"></span> Characters
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="modfilter">
                    <span class="oi oi-flag" aria-hidden="true"></span> Mod Filter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logs">
                    <span class="oi oi-list" aria-hidden="true"></span> Logs
                </NavLink>
            </div>
        </AuthorizeView>
        <div class="nav-item px-3 grouping">
            <span class="grouping-inner">Account</span>
        </div>
        <div class="nav-item px-3">
            <img class="pfp" src="@AvatarUrl" alt="Avatar" /> <span class="username">@Username</span>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="signout" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    string AvatarUrl = "";
    string Username = "";

    protected override async void OnInitialized()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        AvatarUrl = user.Claims.First(c => c.Type == "urn:discord:avatar:url").Value + "?size=32";
        Username = user.Identity.Name;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
