html, body {
    font-family: 'Oxygen';
    font-size: 16px;

    margin: 0;
    padding: 0;
    height: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

table {
    border-spacing: 0px;
}

th {
    background-color: #2E2E2E;
    color: white;
    border: 1px solid #2E2E2E;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

td {
    padding: 5px;
    vertical-align: middle;
}

td > span {
    vertical-align: middle;
}

.text-align-center {
    text-align: center;
}

input[type=text] {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    width: 190px;
    height: 40px;
}

tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
    color: black;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.description {
    font-size: 10px;
    line-height: 5px;
}

.tab-list {
    display: flex;
    flex-direction: row;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.tab-name, .tab-icon {
    color: #9F9F9F;
}

.tab-name {
    font-size: 14px;
}

.tab.active > .tab-name {
    color: black;
}

.tab.active > .tab-icon {
    color: #F89A22
}

.tab:hover > .tab-name {
    color: black;
}

button {
    border-radius: 4px;
    background-color: #F89A22;
    color: white;
    border: 1px solid #F89A22;
    height: 40px;
    cursor: pointer;
}

select {
    border-radius: 4px;
    height: 40px;
    width: 100px;
}